@import "fonts.scss";
@import "reset.scss";


body {
  margin: 0;
  font-family: -apple-system, Oswald,'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  display: flex;
  flex-flow: row;
}

header {
  order: 2;
  margin-left: auto;
}

main {
  order: 1;
}

.wrapper-for-bg {
  max-width: 1440px;
  margin: auto;
}