@import "../../styles/vars.scss";

@keyframes card {

  to{
    z-index: 4;
    transform: translateY(0);
  }

  50% {
    transform: translateY(-35%);
  }

  100% {
    z-index: 4;
  }
}


.project-wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.fake-block {
  position: relative;
  bottom: -60px;
  height: 60px;
}

.project-item {
  display: block;
  width: 80%;

  margin: auto;

  box-shadow: #222222 0px 50px 50px;

  background: center / 105% no-repeat;

  transition: .5s;


}